html,body{
	min-height:100vh;
	scroll-behavior: smooth;
	background-image: url("../img/background.jpg");
	background-size: cover;
	position: relative;
}
body{
	margin: 0;
	padding: 0;
}
h1,p,a,ul,li{
	font-family: 'Prompt', sans-serif;
}
ul{
	font-size: 20px;
}
li{
	font-size: 25px;
}
ul,li{
	color: white;
}
h1{
	font-size: 45px;
}
#nom a {
	text-decoration: none;
}
.menu,h1{
	display: flex;
	width: auto;
	justify-content: center;
	color: white;
}
.menu a{
	margin: 10px;
	position: relative;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 10px 0px;
}
header{
	border-bottom: 2px solid white;
}
footer{
	position: absolute;
	width: 100%; height: 50px;
	bottom: 0; left: 0; right: 0;
	border-top: 2px solid white;
}
p{
	font-size:20px;
	color: white;
}
/* -------Transition sur le menu--------*/
.menu a:before, .menu a:after{
	content: '';
	display: block;
	width: 0%;
	position: absolute;
}
.menu a:before{
	border-bottom: 3px solid white;
}
.menu a:after{
	right: 0;
	border-top: 3px solid white;
}
.menu a:hover:before,.menu a:hover:after{
	content: '';
	width: 100%;
	transition: width 0.3s ease-in;
}
.menu a:hover:before{
	bottom: 0;
	left: 0; 
}
.menu a:hover:after{
	top: 0;
	right: 0;
}
/* -------fin transition sur le menu--------*/

/*-------Contenu des pages (main) ----------*/
.msg,.Mmsg{
	display: flex;
	justify-content: center;
}
.Mmsg p{
	font-size: 25px;
}
/*------ animation key frame --------*/
#animation{
	width: 100px;
	height: 100px;
	position: relative;
	animation-name: anim;

	animation-duration: 4s;
	animation-delay: 2s;

	animation-direction: alternate;
	animation-iteration-count: 100;
}
@keyframes anim {
  0%   {left:700px; top:0px;}
  50%  {left:1060px; top:0px;}
  100% {left:700px; top:0px;}
}
/*------ Fin animation key frame --------*/

/*----------Responsive --------------*/
@media screen and (max-width: 900px){

	.menu a{
		margin: 10px;
		position: relative;
		text-decoration: none;
		color: white;
		font-size: 15px;
		padding: 10px 0px;
	}

	p{
	font-size:17px;
	color: white;
	}

	#animation{
	width: 100px;
	height: 100px;
	position: relative;
	animation-name: anim;

	animation-duration: 4s;
	animation-delay: 0s;

	animation-direction: alternate;
	animation-iteration-count: 100;
	}

	@keyframes anim {
	  0%   {left:0px; top:0px;}
	  50%  {left:300px; top:0px;}
	  100% {left:0px; top:0px;}
	}

}